<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Users CRUD</title>
    <style>
        .form-group{
            width: 20%;
        }
        .header{
            display: flex;
            justify-content: space-between;
        }
        .offset-btn{
            margin-top: 10px;
        }
        .home_link{
            margin-right: 100px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2>Edit User {{ return_user.id }}</h2>
        <a href="/users/show" class="home_link">Home</a>
    </div>
    <form action="/user/{{ return_user.id }}/edit_in_db" method="POST">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="{{ return_user.first_name }}">
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="{{ return_user.last_name }}">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="{{ return_user.email }}">
        </div>
        <div>
            <input type="submit" value="Edit" class="offset-btn">
            <a href="/user/{{ return_user.id }}/show">Show User</a>
        </div>
    </form>
</body>
</html>